*{
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    animation: animate 50s ease-in-out infinite;
    overflow: auto;
    

}


@keyframes animate{
    0%, 100%{
        background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(pictures/Moonbg.gif); 
    }
    25%{
        background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(pictures/Rainbg.gif); 
    }
    50%{
        background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(pictures/Sunrisebg.gif); 
    }
    75%{
        background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(pictures/handsbg.gif); 
    }
  


}

.text-box{
    width: 100%;
    color: #fff;
    position: absolute;
    top: 10%;
    left: 0%;
    text-align: center;
    text-justify: auto;
}
.aud{
    width: 100%;
    color: #fff;
    position: absolute;
    top: 17%;
    left: 0%;
    text-align: center;
    text-justify: auto;
}
.batman{
    
    width: 100%;
    color: #fff;
    position: absolute;
    top: 250%;
    left: 0%;
    text-align: center;
    text-justify: auto;

  }
  .play{
    width: 100%;
    color: #fff;
    position: absolute;
    top: 17%;
    left: -10%;
    text-align: center;
    text-justify: auto;
}


    




@media(min-width: 0px) and (max-width: 375px){
    
    .text-box{
        top: 15%;
    font-size: 10px;
    }
    
    .aud{
        top: 6%;
        left: 9%;
        opacity: 80%;
        height:200px; 
        width:300px;

    
    }
    .batman{
    top: 175%;
    opacity: 60%;
    
      }

    
    }
@media(min-width: 376px) and (max-width: 549px){
    
    .text-box{
    font-size: 10px;
    }
    
    .aud{
        top: 14%;
    
    }
    .batman{
    top: 175%;

    
      }
      .play{
    left: -45%;
    top: 16%;
    
    
      }
    
    }

    @media(min-width: 550px) and (max-width: 719px){
    
        .text-box{
        font-size: 15px;
        }
        
        .aud{
            top: 18%;
        
        }
        .batman{
        top: 280%;
        
          }
          .play{
        left: -45%;
        top: 16%;
        
        
          }
        
        }

@media(min-width: 720px) and (max-width: 960px) {
    
.text-box{
font-size: 20px;
}

.aud{
    top: 20%;

}
.batman{
top: 360%;

  }
  .play{
left: -45%;
top: 16%;


  }
}

  @media(min-width: 961px) and (max-width: 1200px) {
    
    .text-box{
    font-size: 30px;
    }
    
    .aud{
        top: 15%;
    
    }
    .batman{
    top: 0%;
    
      }
      .play{
    left: -45%;
    top: 16%;
    
    
      }
    
}

